<h4>商品詳細</h4>
  <% if @item.image.attached? %>
    <%= image_tag @item.image, size: "300x300" %>
  <% else %>
    <%= image_tag 'no_image', size: "300x300" %>
  <% end %>
<tr>
  <th>商品名</th>
  <th><%= @item.name %></th>
</tr><br>
<tr>
  <th>商品説明</th>
  <th><%= @item.introduction %></th>
</tr>