<h2>顧客一覧画面</h2>
<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <th><%= customer.id %></th>
        <th><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer) %></th>
        <th><%= customer.email %></th>
        <th>
          <% if customer.is_deleted == true%>
            <p class="h5 text-success">有効</p>
          <% else %>
            <p class="h5 text-secondary">退会</p>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>