<div class="container">
  <div class="row">
    <h4 class="my-5">注文履歴一覧</h4>
    <table class="table">
      <thead class ="thead-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @orders.each do |order| %>
          <tr>
            <th><%= l order.created_at, format: :short %></th>
            <th><%= link_to order.customer.last_name+order.customer.first_name, admin_order_path(order) %></th>
            <th><%= order.order_details.sum(:amount) %></th>
          </tr>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>